.navigation{
    padding: 10px;
    box-shadow: 2px 2px 2px rgba(195, 195, 194, 5);
    display: flex;
    justify-content: space-between;
}
.navigation ul{
    display: flex;
    list-style: none;
}
.list{
    padding: 10px;
}
.nav-link{
    text-decoration: none;
    color: black;
}
.logo{
    width: 30%;
}
.logo img{
    width: 60px;
}
.cart-icon{
    font-size: 23px;
}
.cart_count{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    color: white;
    font-size: 13px;
    right: 10px;
    top: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}