/* if you want to do external styling, you can either style here in app.css or you create css files for each js file you have and then style but ensure to give your work classnames(it uses classnames, not class). Then aferwards you import in the respective js */

/* Also note that whatever you do on the app.css covers the entire web page hence you must be careful not to use the same class names in your app.css and your other css files */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* you can add an image normally as a background via css or you can add it via the js file */
.banner{
  height: 300px;
  background-color: grey;
  background-image: url(./components/images/banner2.webp);
}
/* .navigation{
  background-color: red;
} */